#guess {
	height:30px;
	margin-inline: 5px;

	border-radius: 10px;
	padding: 9px;
	border: 0;
	margin-top: 8px;
	margin-bottom: 9px;
	font-family: inherit;
	font-style: inherit;
	font-size: inherit;
	width: 65vw;
	max-width: 400px;
}

body {
    background-color: #313a5c;
	color: white;
	font-family: 'Manrope', sans-serif;
	font-size: larger;
}

.options {
    display: flex;
	align-items: center;
	margin-bottom: 20px;
	/*! border: 1px solid white; */
	padding-bottom: 10px;
    flex-wrap: wrap;
    justify-content: center;
}

#mode, #submit, #skip, #reveal, #difficulty, #videos {
	height: 35px;
	padding-top: 15px;
	text-decoration: none;
	background-color: lightgray;
	color: black;
	padding-inline: 15px;
	margin-inline: 5px;
	border: 1px solid black;
    cursor: pointer;
	border-radius: 15px;
	margin-top: 7px;
	transition: all 0.2s;
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Safari */
	 -khtml-user-select: none; /* Konqueror HTML */
	   -moz-user-select: none; /* Old versions of Firefox */
		-ms-user-select: none; /* Internet Explorer/Edge */
			user-select: none; /* Non-prefixed version, currently
								  supported by Chrome, Edge, Opera and Firefox */
}

.guessorskip {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
}

.title {
	font-size: 36px;
}

#posts {
	display: flex;
	flex-flow: wrap;
	justify-content: center;
	padding: 10px;
}


img, video {
  transform: scale(1);
  transition: transform .3s;
  margin: 2px;
  min-width: 184px;
  max-height: 250px;
  object-fit:contain;
}

img:hover {
  transform: scale(1.2);
  z-index: 5;
  filter: drop-shadow(0px 10px 10px #000);
}

#guessLogs {
	text-align: center;
	margin-bottom: 20px;
}

.explore {
	color: red;
	font-size: 12px;
    cursor: pointer;
}

.score {
    font-size: 19px;
    color: #a6a6a6;
}

.header {
  display: flex;
  justify-content: space-around;
  background-color: #000139;
  color: white;
  align-items: center;
  border-radius: 15px;
  padding-top: 15px;
  padding-bottom: 15px;
}



#helpopen {
  background-color: #edde00;
  padding: 10px;
  border-radius: 16px;
  color: black;
  cursor: pointer;
  margin: 5px;
}


#helpclose {
  margin-right: 20px;
  margin-top: 20px;
  background-color: black;
  height: fit-content;
  padding-block: 10px;
  color: white;
  padding-inline: 10px;
  border-radius: 10px;
  cursor: pointer;
}


#helpmodal {
	display: none;
	width: calc(100vw - 10vw);
	height: calc(100vh - 10vh);
	position: fixed;
	background-color: #ddf666;
	top: 5vh;
	left: 5vw;
	color: black;
	border-radius: 30px;
  }

#reveal {
  background-color: #870000;
  color: wheat;
}

.help_content {
  height: 71vh;
  overflow: auto;
}

table, td, th {
  border: 1px solid;
  width: min-content;
}

table {
  width: 100%;
  border-collapse: collapse;
}

@media screen and (max-width: 600px) {
  .title {
		font-size: 22px;
  }
	.score {
		font-size: 13px;
	}
  #mode, #submit, #skip, #reveal, #difficulty, #videos {
	font-size: 16px;
	padding: 13px;
	height: unset;
  }
  
}